<!-- <div class="container"><app-card 
tituloCartao="ELE GOSTA"
corDaBorda="blue"
textoCartao="DANÇA GATINHO, DANÇA"
(deletarCartao)="deletarCartao($event)"
[style]="estiloDoCartao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, necessitatibus suscipit aliquid placeat officia animi aut eum dolorum soluta repudiandae reiciendis et nulla nam deleniti pariatur tenetur laudantium nostrum ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium maxime totam quae porro repellat ipsa! Ea eum saepe placeat, ipsum amet repellat adipisci dolores explicabo pariatur tempore, ut dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis est quisquam ea repellendus, beatae delectus! Facilis mollitia magnam expedita beatae vero natus amet id! Ab enim vitae deleniti quisquam maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam quisquam, laborum nam id asperiores ea fugit sed laudantium doloremque rerum omnis ullam accusamus nobis soluta et debitis nihil esse.</app-card>
</div>
<hr>

<div class="container">
  <app-card>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum pariatur cumque molestiae non, totam aut, iste quo eveniet veniam exercitationem reprehenderit consequuntur incidunt aperiam tenetur voluptate animi at, dolores ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quia? Eius cum neque nemo minus sequi inventore repudiandae deleniti voluptatem. Nostrum quisquam nulla dignissimos, fugit dolores in error aspernatur? Hic.</app-card>
</div> -->
<!-- <h2>Ng Style</h2>

<p [ngStyle]="{ fontFamily: 'serif', color: corDoParagrafo, fontSize: '100px' }">
  Mudar de cor
</p>

<button (click)="mudarCorDoParagrafo('red')">Mudar para vermelho</button>
<button (click)="mudarCorDoParagrafo('green')">Mudar para verde</button>
<button (click)="mudarCorDoParagrafo('blue')">Mudar para azul</button>
<button (click)="mudarCorDoParagrafo('purple')">Mudar para roxo</button>

<hr>

<app-diretiva-ngclass></app-diretiva-ngclass>

<hr>

<app-diretiva-ngif></app-diretiva-ngif>

<hr>

<app-diretiva-ngfor></app-diretiva-ngfor>

<hr>

<app-diretiva-ngswitch></app-diretiva-ngswitch> -->

<button appBtn background="blue">Clique em mim !</button>
<br>
<button appBtn background="red">Clique aqui</button>